# Python
__pycache__/
*.py[cod]
*.pyd
*.pyo
*.so
.venv/
venv/
.env
.env.*

# PyInstaller
build/
dist/

# Logs
logs/
*.log

# Qt/QML
*.qmlc
*.jsc

# IDE
.vscode/
!.vscode/launch.json
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/extensions.json

# OS
.DS_Store
Thumbs.db

# Arduino build outputs
*.elf
*.hex
*.bin
