# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
dist/
*.egg-info/
.eggs/

# git commit hashes
version.txt

# Virtual environments
.venv/
venv/
env/

# Unit test / coverage
.coverage
htmlcov/
.pytest_cache/

# Logs
logs/
*.log

# OS / editor
.DS_Store
Thumbs.db
.vscode/

# Qt / QML
*.qmlc
*.jsc
*.rcc
